**/archive/
**/__pycache__/
**/.ipynb_checkpoints/
**/x86_64/
**/x64_86/
*.gexf
*.log
docs/build/
examples/*/membrane/mod/*/
!examples/*/membrane/mod/*.mod
examples/Default/
examples/Templates/
*.egg-info
dist/