**/archive/
**/__pycache__/
**/.ipynb_checkpoints/
**/x86_64/
**/x64_86/
*.gexf
*.log
docs/build/
docs/make.bat
docs/Makefile
src/data/*/mod/*/
!src/data/*/mod/*.mod
src/data/Default/*/
!src/data/Default/*.mod
*.egg-info
dist/